n8n-workflow.json
{
  "name": "Автопостинг новостей с сайта",
  "description": "Каждую минуту проверяет новые статьи через /api/articles и публикует непрочитанные в Telegram-канал @daily_dev_news",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-112, 0],
      "id": "4c8e9bf5-ee85-4259-b206-89b0204c8920",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://darksidr.ru/api/articles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "since",
              "value": "={{ $now.minus(15, 'minutes').toISO() }} "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [96, 0],
      "id": "6f9807b5-e60e-4816-a025-32b5a5c955d2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "115cacff-0107-46d2-b5d4-176fa61ee2bc",
              "leftValue": "={{ $json.translatedTitle }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [304, 0],
      "id": "765210d3-6045-4743-ac65-73b30feeaf65",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "@daily_dev_news"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "={{`📰 <b>${$('HTTP Request').item.json.translatedTitle || $('HTTP Request').item.json.title}</b>\n\n${$('HTTP Request').item.json.snippet || ''}\n\n📌 ${$('HTTP Request').item.json.source}\n🔗 <a href=\"${$('HTTP Request').item.json.link}\">Оригинал</a>\n\n<a href=\"https://darksidr.ru\">Больше новостей на darksidr.ru</a>`}}\n"
            },
            {
              "name": "link_preview_options",
              "value": "={{ { is_disabled: true } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1232, -128],
      "id": "87db54a1-abaf-4102-9e9f-de82e6e84d1c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT NOT EXISTS (\n  SELECT 1\n  FROM telegram_sent_articles\n  WHERE article_id = $1\n) AS is_new;\n",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{$json.id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [528, 0],
      "id": "0ec2acb2-850b-4b4a-8b41-bddb74f5a6d7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "<POSTGRES_CREDENTIAL_ID>",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c9df5bb-a4f1-498f-82bc-b46134e9a29c",
              "leftValue": "={{$json.is_new}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [736, 0],
      "id": "a7219acd-2cf7-4637-91a5-434e08d0e11e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1008, -128],
      "id": "bf198690-2215-4ab5-b890-8d4a257692bd",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_sent_articles (article_id)\nVALUES ($1)\nON CONFLICT (article_id) DO NOTHING;\n",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{$('HTTP Request').item.json.id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1440, -128],
      "id": "66aae1ca-d370-4bf9-acec-83e584cd044f",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "<POSTGRES_CREDENTIAL_ID>",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Filter", "type": "main", "index": 0 }]]
    },
    "Filter": {
      "main": [[{ "node": "Execute a SQL query", "type": "main", "index": 0 }]]
    },
    "Execute a SQL query": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Execute a SQL query1", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  }
}
